.chat {
  display: flex;
  height: 100%;
  background-color: #FFFFFF;
  width: 1140px;
  margin: 0 auto;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.04204);


  &__sidebar {
    width: 320px;
    border-right: 1px solid #f7f7f7;

    &-header {
      display: flex;
      justify-content: space-between;
      padding: 20px;
      border-bottom: 1px solid #f7f7f7;
      height: 58px;
      margin-bottom: 20px;
      align-items: center;


      .ant-btn-link {
        position: relative;
        left: 8px;
        svg {
          font-size: 18px;
        }
      }


      & > div {
        svg {
          display: inline-block;
          margin-right: 5px;
        }
      }



    }

    &-search {
      padding: 0 20px 20px 20px;

      .ant-btn-primary {
        background-color: #3674FF;

        &:hover {
          opacity: 0.9;
        }
      }
    }

    &-dialogs {
      height: calc(100% - 136px);

      .dialogs {
        height: 100%;
        overflow: auto;

        &__item {
          padding: 10px 20px;
          margin-bottom: 0;
          cursor: pointer;

          &:active,
          &:hover {
            background-color: #f3f7ff;
          }
        }

      }
    }
  }

  &__dialog {
    flex: 1;
    position: relative;

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 12px;
      border-bottom: 2px solid #f7f7f7;

      .ant-btn-link {
        svg {
          font-size: 22px;
        }
      }

      &-username {
        display: block;
        margin-bottom: 5px;
        font-weight: 800;
      }

      &-center {
        text-align: center;
      }
    }

    &-messages {
      padding: 20px;
      padding-bottom: 0;
      overflow: auto;
      height: calc(100% - 138px);
    }
  }

}
